.card {
    margin-top: 20px;
    background-color: gray;
    max-width: 500px; /* Ajusta el ancho máximo de la tarjeta */
    margin: 0 auto; /* Centra la tarjeta horizontalmente en el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega sombra a la tarjeta */
    border: none; /* Elimina el borde de la tarjeta */
  }

  #img{
      object-fit: contain;
    width: auto;
    height: 100%;
  }
  
  .card-img-top {
    object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio */
  }
  
  .card-title {
    font-size: 2rem; /* Ajusta el tamaño de fuente del título */
  }
  
  .list-group-item {
    border: none; /* Elimina el borde de los elementos de la lista */
  }
  
  /* Personaliza otros estilos según tus preferencias */