<app-navbar></app-navbar>
<br />
<div class="card mb-3 cloud-background" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../assets/images/quien-soy.jpeg"
        class="img-fluid rounded-start"
        alt="..."
        id="img"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Julián Agustín Sbaglia</h5>
        <div class="card-text">
          <li class=""><strong>Edad:</strong> 24 años</li>
          <li class=""><strong>Legajo:</strong> 12345</li>
          <li class=""><strong>Fecha de nacimiento:</strong> 18/04/1999</li>
          <li class=""><strong>Curso:</strong> 4º B</li>
          <li class=""><strong>Localidad:</strong> Lanús</li>
          <li class="">
            <strong>Mi Juego:</strong>
            <p>
              Consiste en patear penales. Una flecha alterna la dirección del
              disparo hasta el momento en que se patea. A la vez, el arquero se
              moverá de lado a lado intentando atrapar la pelota.
            </p>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>

<app-chat></app-chat>

<!-- <div class="container">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="../../assets/images/quien-soy.jpeg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title text-center text">Julián Agustín Sbaglia</h1>
          <div class="h3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-secondary">
                <strong>Edad:</strong> 24 años
              </li>
              <li class="list-group-item list-group-item-secondary">
                <strong>Legajo:</strong> 12345
              </li>
              <li class="list-group-item list-group-item-secondary">
                <strong>Fecha de nacimiento:</strong> 18/04/1999
              </li>
              <li class="list-group-item list-group-item-secondary">
                <strong>Curso:</strong> 4º X
              </li>
              <li class="list-group-item list-group-item-secondary">
                <strong>Localidad:</strong> Lanús
              </li>
              <li class="list-group-item list-group-item-secondary">
                <strong>Mi Juego:</strong>
                <br />
                Aquí puedes agregar una descripción de tu juego.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
