<app-navbar></app-navbar>
<br />
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 text-center">
      <h2 class="mb-4 text-light">Bienvenido a la página de inicio</h2>
      <div class="row">
        <div
          class="col-md-6 mb-4 d-flex justify-content-center align-items-center"
        >
          <button class="btn btn-primary btn-lg btn-square">Juego 1</button>
        </div>
        <div
          class="col-md-6 mb-4 d-flex justify-content-center align-items-center"
        >
          <button class="btn btn-success btn-lg btn-square">Juego 2</button>
        </div>
        <div
          class="col-md-6 mb-4 d-flex justify-content-center align-items-center"
        >
          <button class="btn btn-warning btn-lg btn-square">Juego 3</button>
        </div>
        <div
          class="col-md-6 mb-4 d-flex justify-content-center align-items-center"
        >
          <button class="btn btn-danger btn-lg btn-square">Juego 4</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
<app-chat></app-chat>