.btn-square {
    width: 150px; /* Ajusta el ancho deseado de los botones */
    height: 150px; /* Ajusta la altura deseada de los botones */
    font-size: 24px; /* Ajusta el tamaño de fuente deseado */
    border-radius: 10%; /* Hace que los botones sean cuadrados mediante el uso de border-radius */
  }